{% extends "layout.jinja2" %}
{% block content %}
    Title: <input value=""></input>
    </br></br>Body:</br>
    <textarea rows="4" cols="50">
    </textarea></br>
    <button type="button">Submit</button>
{% endblock %}
