{% extends "layout.jinja2" %}
{% block content %}
    <form method="post">
        Title: <input value="" name='title'>
        </br></br>Body:</br>
        <textarea rows="4" cols="50" name='body'>
        </textarea></br>
        <button type="submit" value="submit">Submit</button>
    </form>
{% endblock %}
