<!DOCTYPE HTML>
<html>
<head>
  <title>Learning Journal</title>
  <meta charset="utf-8">
    <link rel = "stylesheet" type= "text/css" href = "normalize.css"/>
    <link rel = "stylesheet" type= "text/css" href = "style.css"/>
</head>


<body>
  <header>
    <h1 id="title">Mike's Learning Journal</h1>
    <nav>
      <ul>
        <li class="three columns nav-links"><a href="/" id="home">Home</a></li>
        <li class="three columns nav-links" ><a href="#" id="about">About</a></li>
        <li class="three columns nav-links"><a href="https://twitter.com/CSS_Ipsum">Twitter</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <article>
      <h2>Journal Entry One</h2>
      <h6>Created: 8/23/2016</h6>
      <p>Today was not a great day. Class was fine. I had my code looked at and got some feedback which is good. I really need to learn how to paramatrize my fixtures. Maybe sometime this week or weekend Ill learn more about it. Jinja2 and template and all that. I think I have a better understanding of them and how to use them. So..Im excited about that. Lab went alright if not a little slow. it took a while to kinda wrap my head around bin heap. I got some help from Justin and Alex and worked with Tatiana and Steven for a bit since Crystal and I were basically doing the same thing as them. I think we got about 1/2 of it done but ran into some issues. I was gonna work on that later.</p>
      </p>But the main thing is, I think the last several days of low sleep and stress has caught up. Hard to focus and stuff. So, I think ill fall a little bit right now and get some extra sleep. And ill just double my efforts again tomorrow. I think it will be fine. We aren't super behind.!</p>
    </article>
    <button><a href="/journal/1/edit/">Edit</button>
  </main>

</body>
</html>
