<!DOCTYPE HTML>
<html>
<head>
  <title>Learning Journal</title>
  <meta charset="utf-8">
    <link rel = "stylesheet" type= "text/css" href ={{ request.static_url('learning_journal:static/normalize.css') }}/>
    <link rel = "stylesheet" type= "text/css" href ={{ request.static_url('learning_journal:static/style.css') }}/>
</head>


<body>
  <header>
    <h1 id="title">Mike's Learning Journal</h1>
    <nav>
      <ul>
        <li class="three columns nav-links"><a href={{request.route_url('home') }} id="home">Home</a></li>
        <li class="three columns nav-links" ><a href="#" id="about">About</a></li>
        <li class="three columns nav-links"><a href="https://twitter.com/CSS_Ipsum">Twitter</a></li>
        <li class="three columns nav-links"><a href={{ request.route_url('create') }}>Create</a></li>
        <li class="three columns nav-links"><a href={{ request.route_url('login') }}>Login</a></li>
        <li class="three columns nav-links"><a href={{ request.route_url('logout') }}>Logout</a></li>
      </ul>
    </nav>
  </header>

  <main>
  {% block content %}
  {% endblock %}
  </main>

</body>
</html>
