{% extends "layout.jinja2" %}

{% block content %}
  <form method="post">
    Username:  <input value=username name="username">
    Passworrd: <input value=password name="password">
    <button type="submit" value="submit">Submit</button>
  </form>
{% endblock %}
