{% extends "layout.jinja2" %}

{% block content %}
  <form action="" method="POST">
    Username:  <input value=username name="username">
    Passworrd: <input type=password value=password name="password">
     <input class="button" type=submit  name="login" value="Login"/>
  </form>
{% endblock %}
